
#gallery
{
    border:2px solid rgba(88, 88, 88, 0.521);
    padding: 2%;
    line-height: 30px;
    
}
.galleryElement{
    display: inline-block;
    background-color: bisque;
    border:2px solid rgba(88, 88, 88, 0.521);
    width: 30%;
    box-shadow: 1px 5px 10px rgba(0, 0, 0,0.8);

}
#projects {
    padding: 0px;
    
    
}
#pisqicelImg {
    margin: 0px;
    margin-bottom: -10px;
}