
#gallery
{
    border-radius: 10px;
    border:2px solid rgba(88, 88, 88, 0.521);
    padding: 2%;
    line-height: 30px;
    background-color: #8C877D;
    box-shadow: 1px 5px 10px rgba(0, 0, 0,0.8);
    
}

#projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0px;
    
    
}

.galleryElement{
    padding: 0px;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: stretch;
    background-size: cover;
    background-position: center;
    border:2px solid rgb(138, 98, 18);
    width: 200px;
    height: 200px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0,0.8);
    margin: 5px;

}
.galleryElement p {
    text-align: center;
    width: 100%;
    color:  white;
    font-weight: 800;
    background-color: black;
}